@import url('https://fonts.googleapis.com/css2?family=Londrina+Sketch&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  margin: 0;
  padding: 0;
  background-image: url("../images/barrel3.jpg");
  color: #cdcdcd;
  height: 100vh;
  width: 100%;
  position: relative;
  font-family: "Kanit", sans-serif;
}

header {
  background-color:  #341900;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 15vh;
}

h1 {
  font-family: 'Londrina Sketch', cursive;
  text-transform: uppercase;
  text-align: center;
  font-size: 60px;
  letter-spacing: 0.5vw;
  text-shadow: 5px 5px 5px #7e6a49;

  animation-name:titre;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}
@keyframes titre {
  0%  {text-shadow: 5px 5px 5px #a6906b;}
  25% {text-shadow: 5px 5px 5px #c6b68f;}
  50% {text-shadow: 5px 5px 5px #354a5d;}
  75% {text-shadow: 5px 5px 5px #7e6a49;}
}

h2 {
  font-size: 30px;
  text-align: center;
  margin-bottom: 25px;
  font-family: 'Kanit', sans-serif;
  color: #964b00;
}

.box {
	position : relative;
	right: 15%;
	top : 50%;
  transform: translate(-50%, -50%);

}

select {
  background-color: #341900;
  color: white;
  padding: 12px;
  width: 250px;
  border: none;
  font-size: 20px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
  -webkit-appearance: button;
  appearance: button;
  outline: none;
}

containerContent #textContent p::before {

  font-family: FontAwesome;
  position: relative;
  height: 100%;
  text-align: center;
  font-size: 28px;
  line-height: 45px;
  color: rgba(255, 255, 255, 0.5);
  background-color: rgba(255, 255, 255, 0.1);
  pointer-events: pointer;
}

.containerContent  #textContent p:hover::before {
  color: rgba(255, 255, 255, 0.6);
  background-color: rgba(255, 255, 255, 0.2);
}

#textContent {
	position: relative;
	width: 100%;
	height: 100%;
}

select option {
  padding: 30px;
}

.img_back{
	width: 300px;
	position: relative;
}

.creamBG {
	
	position: relative;
	
  background-color: #ffe6cd;
  color: #964b00;
  padding: 20px 25px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}



.containerContent #textContent p::before, .containerContent #textContent p::before {
  content: "";
  width: 90%;
  height: 100%;
  position: absolute;
  top: 5px;
  left: 0px;
  border: 2px dashed #964b00;
  border-radius: 5px;

  z-index: -1;

  transition: all .5s ease-in-out;
}

.containerContent #textContent p::after, .containerContent #textContent p::after {
  content: "";

  width: 90%;
  height: 100%;
  
  position: absolute;
  top: 15px;
  left: 20px;

  border: 2px dashed;
  border-radius: 5px;

  z-index: -1;

  transition: all .5s ease-in-out;
}

.containerContent #textContent p:hover::before, .containerContent #textContent p:hover::before, .containerContent #textContent p:hover::after, .containerContent #textContent p:hover::after {
  border-color: rgba(52, 25, 0, 1);
  top: 0px;
  left: 0px;
}

.containerContent {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 30px 0px;
}

.containerContent iframe, .containerContent .img_back {
  width: 90%;
  aspect-ratio: 16/9;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
}

.para{
	text-align:center;
	padding-top: 5%;
}

.body {
  width: 100px;
  height: 100px;
  position: absolute;
}

.hat {
  width: 200px;
  height: 200px;
  position: absolute;

  z-index: 1;
}

.charBox {
  width: 200px;
  height: 200px;
  margin:auto;
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
}