footer {
  background-color: #232323;
  width: 100%;
  padding-top:30px;
  margin-top:auto
}
.social, .list-inline {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}

.list-inline a {
  text-decoration: none;
  margin: 0px 10px;
  color: white;
  opacity: 0.8;

  transition: all .3s ease-in-out;
}

.social a {
  margin: 0px 15px;
}

.social img {
  border-radius: 100px;
  border: 2px solid white;
}

.list-inline a:hover {
  opacity: 1;
}

footer .copyright {
  margin-top:15px;
  text-align:center;
  font-size:13px;
  color:#aaa;
  padding-bottom: 10px;
}