@import url('https://fonts.googleapis.com/css2?family=Londrina+Sketch&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  margin: 0;
  padding: 0;
  background: #341900;
  color: #cdcdcd;
  height: 100vh;
  width: 100%;
  position: relative;
  font-family: "Kanit";
}

#logo {
  height: 19vh;

  animation-name: animationLogo;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
  animation-duration: .8s;
  animation-timing-function: ease-in-out;
}

@keyframes animationLogo {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.03);
  }
}

nav {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
	
}

.buttonsLogo {
  margin: 0px 10px;
  
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.buttonsLogo a {
  text-decoration: none;
  color: #232323;
}

.buttonLogo {
  width: 150px;
  height: 50px;

  background-color: #ffe6cd;
  box-shadow: 2px 2px 10px 0px black;

  margin: 10px 10px;
	

  display: flex;
  justify-content: center;
  align-items: center;
  
  text-decoration: none;

  border-radius: 5px;

  font-family: "Kanit";
  font-weight: 500;
  font-size: 15px;
  color: #964b00;
  
  transition: all .2s ease-in-out;
}

.buttonLogo:hover {
  transform: scale(1.04);
}

.gameTemplate {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 10px 0px;
  padding: 5px;
  position: relative;
  justify-content: center;
  align-content: center;
  background-size: cover;
  box-sizing: border-box;
}

.creamBG {
  background-color: #ffe6cd;
  color: #964b00;
  padding: 20px 25px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.brownBG {
  background-color: #341900;
  color: #ffe6cd;
  padding: 20px 55px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.creamBG h2, .brownBG h2 {
  margin: 10px;
  font-size: 50px;
  font-family: "Londrina Sketch", cursive;
  text-transform: uppercase;
}

.creamBG p, .brownBG p {
  text-align: center;
  font-size: 20px;
  width: 90%;
  height: 100%;

  padding-right: 5%;
  padding-left: 5%;

  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0;

  position: relative;

  z-index: 1;
}

.containerContent p::before, .containerContent p::before {
  content: "";
  width: 90%;
  height: 100%;
  position: absolute;
  top: 5px;
  left: 0px;
  border: 2px dashed #964b00;
  border-radius: 5px;

  z-index: -1;

  transition: all .5s ease-in-out;
}

.containerContent p::after, .containerContent p::after {
  content: "";

  width: 90%;
  height: 100%;
  
  position: absolute;
  top: 15px;
  left: 20px;

  border: 2px dashed;
  border-radius: 5px;

  z-index: -1;

  transition: all .5s ease-in-out;
}

.containerContent p:hover::before, .containerContent p:hover::before, .containerContent p:hover::after, .containerContent p:hover::after {
  border-color: rgba(52, 25, 0, 1);
  top: 0px;
  left: 0px;
}

.containerContent {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 30px 0px;
}

.containerContent iframe, .containerContent img {
  width: 90%;
  aspect-ratio: 16/9;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
}





/* ------------------------------------------------------- */
/* ------------------- WELCOME PAGE ---------------------- */
/* ------------------------------------------------------- */

.frontDis {
  z-index: 110;
  background-color: #232323;
  background-image: url("../Images/bg_factory.jpg");
  background-size: cover;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.frontDis.hidden {
  top: -200%;
  transition: all 1s ease-in-out;
}

.backDis {
  display: block;
  /*height: 100%;*/
  width: 100%;
}

.backDis.hidden {
  display: none;
}

#crateStackLogo {
  width: 500px;
  max-width: 85%;
  height: auto;
  position: absolute;
  top: 15%;
  opacity: 0;
}

@keyframes animateLogo {
  from {
    width: 500px;
    max-width: 85%;
  }
  to {
    width: 450px;
    max-width: 80%;
  }
}

@keyframes animatePressKey {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

#crateStackLogo.show {
  opacity: 1;  
  transition: all 2.5s ease-in-out;
  animation: 1s ease-in-out 2.5s animateLogo;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#pressKeyText {
  bottom: 10%;
  font-size: 40px;
  color: #ffe6cd;
  font-weight: 400;
  position: absolute;
  opacity: 0;
}

#pressKeyText.show {
  opacity: 1;
  transition: all 1s ease-in-out 3s;

  animation: 3s cubic-bezier(0.81, 0.06, 0.83, 1.39) 5s animatePressKey;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}




/* ----------------------------------------------------- */
/* ------------------ GAME STYLE ----------------------- */
/* ----------------------------------------------------- */

 
#mainPlate {
  display: grid;
  justify-content: center;
  align-content: center;

  padding: 15px;
  margin: 10px;

  border-radius: 15px;
  background-color: rgba(0,0,0, .5);
}

#mainPlate.dim3 {
  width: 550px;
  height: 450px;

  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: repeat(9, 1fr);
}

#mainPlate.dim4 {
  width: 520px;
  height: 440px;
  margin: 10px;

  grid-template-columns: repeat(13, 1fr);
  grid-template-rows: repeat(11, 1fr);
}

#mainPlate .cornerRoad {
  width: 100%;
  height: 100%;

  background-image: url("../Images/Corner\ Road.svg");
  background-size: cover;
}

#mainPlate .straightRoad {
  width: 100%;
  height: 100%;

  background-image: url("../Images/Straight\ Road.svg");
  background-size: cover;
}

#mainPlate .crossRoad {
  width: 100%;
  height: 100%;

  background-image: url("../Images/Cross\ Road.svg");
  background-size: cover;
}

#mainPlate .TRoad {
  width: 100%;
  height: 100%;

  background-image: url("../Images/T\ Road.svg");
  background-size: cover;
}

#mainPlate .CCorner {
  width: 100%;
  height: 100%;

  background-image: url("../Images/Crate\ Corner.svg");
  background-size: cover;
}

#mainPlate .CStraight {
  width: 100%;
  height: 100%;

  background-image: url("../Images/Crate\ Straight.svg");
  background-size: cover;
}

#mainPlate .Trash {
  width: 100%;
  height: 100%;

  background-size: 85%;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../Images/trash.svg");
}

#mainPlate .obs {
  width: 100%;
  height: 100%;

  background-image: url("../Images/obs.svg");
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
}

#mainPlate .clueButton {
  width: 80%;
  height: 80%;

  border: 2px solid black;
  border-radius: 10px;

  background-image: url("../Images/light_bulb.png");
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;

  transition: transform .2s;

  filter: invert(1);
}

#mainPlate .clueButton:hover {
  cursor: pointer;
  
  transform: scale(1.05);
}

#mainPlate .keysButton {
  width: 80%;
  height: 80%;

  border: 2px solid black;
  border-radius: 10px;

  background-image: url("../Images/keyboard.png");
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;

  transition: transform .2s;

  filter: invert(1);
}

#mainPlate .keysButton:hover {
  cursor: pointer;
  
  transform: scale(1.05);
}

#mainPlate .solutionButton {
  width: 80%;
  height: 80%;

  border: 2px solid black;
  border-radius: 10px;

  background-image: url("../Images/revealGrid.png");
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: center;

  transition: transform .2s;

  filter: invert(1);
}

#mainPlate .solutionButton:hover {
  cursor: pointer;
  
  transform: scale(1.05);
}

#mainPlate .obsText {
  width: 100%;
  height: 83%;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 25px;
  color: #341900;
  
}

#mainPlate .rotate00 {
  transform: rotate(0deg);
  transform-origin: 50% 50%;
}

#mainPlate .rotate90 {
  transform: rotate(90deg);
  transform-origin: 50% 50%;
}

#mainPlate .rotate180 {
  transform: rotate(180deg);
  transform-origin: 50% 50%;
}

#mainPlate .rotate270 {
  transform: rotate(270deg);
  transform-origin: 50% 50%;
}

#mainPlate .empty {
  width: 100%;
  height: 100%;
}

#mainPlate .cratePlace {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 1.5em;
  text-shadow: 0 0px 5px black;

  background-image: url("../Images/Crate.png");
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;

  transition: all .1s ease-in-out;
  background-color: rgba(0,0,0,0.7);
}

#mainPlate .cratePlace:empty {
  opacity: 0;
}

.secondPlate {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 450px;
  text-align: center;
  
}

.secondPlate .box{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  padding: 10px;
  height: 80%;
  background-color: #733900;
  border: #0C0404 3px solid;
  border-radius: 15px;
  box-sizing: border-box;
}

.box .view{
  position: relative;
  width: 100%;
  margin-bottom: 5px;
  height: 80%;
  padding: 25px 0px 25px 0px;
  background-color: #ffe6cd;
  border-radius: 10px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

#boxCustom {
  box-shadow: 4px 4px 0px 0px black;
}

#povBox {
  background-image: url("../Images/road_pov.svg");
  background-position: center 110%;
  background-repeat: no-repeat;
  background-size: 100%;
}

div[id^="crate"]{
  width: 100%;
  position: absolute;
  background-size: contain;
  background-position: 50% 0%;
  background-image: url("../Images/Crate.png");
}

#crate1 {
  filter: hue-rotate(12deg);
  z-index: 4;
  height: 25%;

  right: -30%;
  top: -6%
}

#crate2 {
  filter: hue-rotate(144deg);
  z-index: 3;
  height: 50%;
  right: -10%;
  top: -2%;
}

#crate3 {
  filter: hue-rotate(216deg);
  z-index: 2;
  height: 75%;
  
  right: 10%;
  top: 2%;
}

#crate4 {
  filter: hue-rotate(288deg);

  z-index: 1;
  height: 100%;

  right: 30%;
  top: 6%;
}

#buttonBox a{
  width: 80%;
  height: 80%;
  border-radius: 10%;
  text-decoration: none;
  color: #733900;
  font-size: 20px;
  font-weight: bold;
}

#characterBox {
  position: relative;
  
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.hasPlayer {
  z-index: 100;
}

#characterBody {
  position: absolute;

  width: 100%;
  height: 100%;

  background-size: 80% 80%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#characterHat {
  position: absolute;

  width: 200%;
  height: 200%;

  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}


#characterCrate {
  position: absolute;

  width: 70%;
  height: 70%;

  bottom: 80%;

  display: flex;
  justify-content: center;
  align-items: center;

  background-image: url("../Images/crateTop.svg");
  background-size: cover;

  z-index: 100;

  transition: all .2s ease-in-out;
}

#characterCrate:empty {
  opacity: 0;
}

.viewBox {
  height: 100%;
  aspect-ratio: 1/4;
  position: relative;
  transform: rotate(180deg);
}

.box p {
  display: flex;
  height: 40px;
  width: 100%;

  justify-content: center;
  align-items: center;

  margin: 0px;
}


.skinButton {
  height: 90px;
  width: 100%;
  background-color: #ffe6cd;
  border-radius: 5px;
  margin-top:2%;
  margin-bottom:2%;
  display: flex;
  box-shadow: 4px 4px 0px 0px black;
  border: 0px;
  font-family: 'Kanit';
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  color: #733900;
  justify-content: center;
  align-items: center;
  transition: transform .2s ease-in-out;
}

.box a:hover {
  transform: scale(1.02);
}
#generation{
  position: relative;
  width: 100%;
  left:5%;
}

.select{
    
width: 100%;
    
display: flex;
    
justify-content: space-between;
    
margin: 5px 0px;
}
select {
  background-color: #341900;
  border-radius: 5px;
  color: white;
  padding: 12px;
  width: 100%;
  border: none;
  font-size: 15px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
  -webkit-appearance: button;
  appearance: button;
  outline: none;
}
.selectBox{
  /*! margin: 2%; */
  /*! height: 70%; */
  /*! margin-top: -5%; */
  width: 48%;
}
.titleselect{
  margin: 0;
  padding: 0%;
  position: relative;

}
#characterBodyIcon {
  height: 90%;
  max-height: 200px;
  aspect-ratio: 1;
  position: absolute;
  background-size: 50%;
  background-position: center;
  background-repeat: no-repeat;
}

#characterHatIcon {
  height: 90%;
  max-height: 200px;
  aspect-ratio: 1;
  position: absolute;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.crateLocked {
  filter: grayscale(1);
}

.crateHint{
  filter: hue-rotate(75deg);
}

.victoryScreen {
  width: 100%;
  height: 0%;
  top: 50%;
  z-index: 101;
  position: absolute;
  background-color: rgba(0,0,0, 0.3);

  display: flex;
  justify-content: center;
  align-items: center;

  overflow: hidden;

  transition: all 1.5s ease-in-out;
}

.victoryScreen.opened {
  height: 100%;
  top: 0%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.victoryBox {
  width: 80%;
  max-width: 400px;

  height: auto;
  max-height: 100%;

  position: relative;

  padding: 20px;

  background-color: #ffe6cd;
  border-radius: 10px;

  border: 3px solid #341900;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.victoryTitle {
  display: flex;
  justify-content: center;
  align-content: center;

  font-size: 50px;

  font-weight: 600;

  color: #964b00;
}

.crossVictory {
  width: 25px;
  height: 25px;
  position: absolute;

  top: 13%;
  right: 10%;

  cursor: pointer;
  z-index: 106;
}

.victoryRefreshButton {
  width: 40%;
  cursor: pointer;
  max-width: 225px;
  display: flex;
  height: 50px;
  margin: 10px 0px;
  justify-content: space-around;
  align-items: center;
  padding: 15px;
  border: 0px;
  color: #ffe6cd;
  font-size: 30px;
  font-family: 'kanit';
  border-radius: 10px;
  box-shadow: 5px 5px 0px 0px black;
  background-color: #964b00;

  transition: box-shadow .2s ease-in-out;
}

.victoryRefreshButton:hover {
  box-shadow: none;
}

.victoryInfoContent {
  width: 30%;
  display: flex;
  height: 30px;

  justify-content: space-around;
  align-items: center;
  
  padding: 15px;

  color: #ffe6cd;

  border-radius: 10px;
  box-shadow: 5px 5px 0px 0px black;
  
  background-color: #964b00;
}

.victoryInfoContent img {
  height: 100%;
}

.victoryInfo, .victoryScores {
  display: flex;
  justify-content: space-around;
  align-content: center;

  margin: 20px 0px;

  font-size: 30px;

  width: 100%;
  
}


form, input[name="clue"] {
  width: 100%;
  height: 100%;
  opacity: 1;
  margin: 0;
  border: 0;
  padding: 0;
  display:flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
  box-sizing: border-box;
  font-size: 1px;
}

.popup {
  /*! background-color: #ffe6cd; */
  border-radius: 10px;
  color: #ffe6cd;
  display: none;
  position: absolute;
  
  padding-bottom: -5px;
  left: 45%;
  top: -10%;
  width: 40%;
  transform: translate(-45%, 5%);
  box-shadow: 5px 10px 0px 0px black;
  z-index: 105;
  /*! height: inherit; */
}

.popup.displayed {
  display: block;
}

.keyboard-pop-up{
  position: relative;
  width: 100%;

  height: auto;
}



#characterBodyIcon, #characterHatIcon {
 animation: perso 5s linear 0s infinite normal both;
}

@keyframes perso {
  from{transform:rotate(0);}
  to{transform: rotate(360deg);}  
}
