@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    padding: 0px;
    margin: 0px;
}

header {
  background-color:  #341900;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 15vh; 
}

h1 {
  font-family: 'Londrina Sketch', cursive;
  text-transform: uppercase;
  text-align: center;
  font-size: 60px;
  letter-spacing: 0.5vw;
  text-shadow: 5px 5px 5px #7e6a49;

  animation-name:titre;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

@keyframes titre {
  0%  {text-shadow: 5px 5px 5px #a6906b;}
  25% {text-shadow: 5px 5px 5px #c6b68f;}
  50% {text-shadow: 5px 5px 5px #354a5d;}
  75% {text-shadow: 5px 5px 5px #7e6a49;}
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
	background-image: url("../Images/barrel3.jpg");
  flex-direction: column;

  font-family: 'Kanit';

  height: fit-content;

  position: relative;
}


/* ----------------------------------------------------- */
/* ------------------ GAME STYLE ----------------------- */
/* ----------------------------------------------------- */


.gameTemplate {
  height: auto;
  
  margin: 30px 0px;
}

#mainPlate {
  display: grid;
  justify-content: center;
  align-content: center;
}

#mainPlate.dim3 {
  width: 250px;
  height: 250px;

  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

#mainPlate.dim4 {
  width: 350px;
  height: 350px;

  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
}

#mainPlate .cornerRoad {
  width: 50px;
  height: 50px;

  background-image: url("../Images/Corner\ Road.svg");
  background-size: cover;
}

#mainPlate .straightRoad {
  width: 50px;
  height: 50px;

  background-image: url("../Images/Straight\ Road.svg");
  background-size: cover;
}

#mainPlate .crossRoad {
  width: 50px;
  height: 50px;

  background-image: url("../Images/Cross\ Road.svg");
  background-size: cover;
}

#mainPlate .TRoad {
  width: 50px;
  height: 50px;

  background-image: url("../Images/T\ Road.svg");
  background-size: cover;
}

#mainPlate .CCorner {
  width: 50px;
  height: 50px;

  background-image: url("../Images/Crate\ Corner.svg");
  background-size: cover;
}

#mainPlate .CStraight {
  width: 50px;
  height: 50px;

  background-image: url("../Images/Crate\ Straight.svg");
  background-size: cover;
}

#mainPlate .Trash {
  width: 50px;
  height: 50px;

  background-size: 85%;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../Images/trash.svg");
}

#mainPlate .obs {
  width: 50px;
  height: 50px;

  background-image: url("../Images/obs.svg");
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
}

#mainPlate .obsText {
  width: 50px;
  height: 43px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 25px;
  color: #341900;
  
}

#mainPlate .rotate00 {
  transform: rotate(0deg);
  transform-origin: 50% 50%;
}

#mainPlate .rotate90 {
  transform: rotate(90deg);
  transform-origin: 50% 50%;
}

#mainPlate .rotate180 {
  transform: rotate(180deg);
  transform-origin: 50% 50%;
}

#mainPlate .rotate270 {
  transform: rotate(270deg);
  transform-origin: 50% 50%;
}

#mainPlate .cratePlace {
  width: 90%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffe6cd;
  font-size: 30px;
  text-shadow: 0 0px 5px black;
  background-image: url("../Images/Crate.png");
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #341900;
  border-radius: 3px;
  box-shadow: inset 0px 0px 0px 2px #ffe6cd;
  transition: all .1s ease-in-out;
  cursor: pointer;
}

#mainPlate .cratePlace.invCrate {
  opacity: 0.3;
}

#secondPlate {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 550px;
  height: 450px;
  text-align: center;
  
}

#secondPlate #box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 80%;
  background-color: #733900;
  border: #0C0404 10px solid;
  border-radius: 15%;
}

#box #view{
  position: relative;
  width: 80%;
  height: 80%;
  padding: 25px 0px 25px 0px;
  background-color: #ffe6cd;
  border-radius: 10%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

div[id^="crate"]{
  width: 100%;
  position: absolute;
  background-size: contain;
  background-position: 50% 0%;
  background-image: url("../Images/Crate.png");
}

#crate1 {
  filter: hue-rotate(12deg);
  z-index: 4;
  height: 25%;

  right: -30%;
  top: -6%
}

#crate2 {
  filter: hue-rotate(144deg);
  z-index: 3;
  height: 50%;
  right: -10%;
  top: -2%;
}

#crate3 {
  filter: hue-rotate(216deg);
  z-index: 2;
  height: 75%;
  
  right: 10%;
  top: 2%;
}

#crate4 {
  filter: hue-rotate(288deg);

  z-index: 1;
  height: 100%;

  right: 30%;
  top: 6%;
}

#characterBox {
  position: relative;
  
  width: 50px;
  height: 50px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.hasPlayer {
  z-index: 100;
}

#characterBody {
  position: absolute;

  width: 80%;
  height: 80%;

  background-image: url("../customizations/character_default.svg");
  background-size: cover;
}

#characterHat {
  position: absolute;

  width: 80%;
  height: 80%;

  background-image: url("../customizations/hat_crown.svg");
  background-size: cover;
}


#characterCrate {
  position: absolute;

  width: 70%;
  height: 70%;

  bottom: 80%;

  display: flex;
  justify-content: center;
  align-items: center;

  background-image: url("../Images/crateTop.svg");
  background-size: cover;

  z-index: 100;

  transition: all .2s ease-in-out;
}

#characterCrate:empty {
  opacity: 0;
}

#viewBox {
  height: 100%;
  aspect-ratio: 1/4;
  position: relative;
  transform: rotate(180deg);
}

#editTool {

  background-color: #ffe6cd;

  align-items: center;
  justify-content: center;

  display: flex;

  border-radius: 5px;
  position: absolute;

  left: 0px;
  top: 0px;

  opacity: 0;

  box-shadow: 0px 0px 5px 2px black;

  transition: opacity .3s ease-in-out;

  z-index: -1;
}

#editTool:after {
  content:'';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -10px;
  width: 0;
  height: 0;
  border-top: solid 10px #ffe6cd;
  border-left: solid 10px transparent;
  border-right: solid 10px transparent;

  z-index: -1;
}

#numberEmpty {
  background-image: url("../Images/trash.svg");
  background-size: 90%;
  background-position: center;

  background-repeat: no-repeat;
}

.number, .crateInvChoice {
  margin: 5px;
  height: 40px;
  width: 40px;
  border-radius: 5px;
  background-color: #964b00;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 30px;

  color: #ffe6cd;

  cursor: pointer;

  transition: all .15s ease-in-out;
  
}

.number:hover, .crateInvChoice:hover {
  transform: scale(1.04);
}

.crateInvChoice {
  background-image: url('../Images/eye.svg');
  background-position: center;
  background-size: 80%;
  background-repeat: no-repeat;
}

.crateInvChoice.inv {
  opacity: 0.3;
  background-image: url('../Images/eye_closed.svg');
}

#mainPlate .cratePlace:hover {
  transform: scale(1.02);
}

.tools {
  width: 30%;
  max-width: 300px;
  background-color: #ffe6cd;
  border-radius: 10px;
  border: 3px solid #964b00;
  box-shadow: 10px 10px #341900;
  margin-left: 40px;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 15px;
  box-sizing: border-box;

  color: #964b00;
}

.plateBox {
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.messageBox {
  background-color: #ffe6cd;
  border-radius: 10px;
  border: 3px solid #964b00;
  box-shadow: 10px 10px #341900;

  margin-top: 10px;

  padding: 10px;

  font-size: 18px;

  font-family: 'Kanit', sans-serif;

  display: flex;
  flex-direction: column;
  align-items: center;

  box-sizing: border-box;

  color: #964b00;
}

.toolsBox {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.separator {
  height: 5px;
  width: 80%;
  background-color: #964b00;
  border-radius: 10px;
  margin: 20px 0px;
  box-sizing: content-box;
}

.title {
  font-size: 22px;
  width: 90%;
  font-family: 'Kanit', sans-serif;
  text-align: center;
  font-weight: 700;
  line-height: 34px;
  margin-bottom: 10px;
}

.difficultyInput, .radiosInput {
  display: grid;
  width: 90%;
  column-gap: 15px;
  grid-template-columns: 1fr 1fr;
  margin-left: 15%;
}

.difficultyInput div, .radiosInput div {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.difficultyInput div label, .radiosInput div label {
  margin-left: 10px;
  width: 100%;
}

.toolsBox button {
  font-family: 'Kanit', sans-serif;
  margin-top: 15px;
  border-radius: 20px;
  border: 0px;
  height: 40px; 
  font-size: 20px;
  background-color: #964b00;
  color: #ffe6cd;
  box-shadow: 5px 5px #341900;
  cursor: pointer;
  padding: 5px 15px;

  transition: box-shadow .1s ease-in-out;
}

.plateBox input[type="submit"] {
  font-family: 'Kanit', sans-serif;
  margin-top: 15px;
  border-radius: 20px;
  border: 0px;
  height: 40px;
  width: 100%;
  font-size: 20px;
  background-color: #964b00;
  color: #ffe6cd;
  box-shadow: 5px 5px #341900;
  cursor: pointer;
  padding: 5px 15px;

  transition: box-shadow .1s ease-in-out;
}

#seedInput {
  height: 30px;
  font-size: 22px;
  font-family: 'Kanit', sans-serif;
  border-radius: 5px;
  border: 1px solid #733900;
  width: 70%;
  padding: 0px 5px;
  text-align: center;
}

.toolsBox button:hover {
  box-shadow: none;
}

.conceptor{
  display: flex;
  align-items: center;
  justify-content: center;
	
  font-family: 'Kanit';

  width:100%;
  height: fit-content;

  padding: 30px 0px;

  position: relative;
}

.bigTitle{
  position: relative;
  background-color:  #341900;

  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 15vh;
  width: 100%;
}