* {
    padding: 0px;
    margin: 0px;
}

header {
    background-color:  #341900;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15vh;
}
    
h1 {
    font-family: 'Londrina Sketch', cursive;
    text-transform: uppercase;
    text-align: center;
    font-size: 60px;
    letter-spacing: 0.5vw;
    text-shadow: 5px 5px 5px #7e6a49;
  
    animation-name:titre;
    animation-duration: 5s;
    animation-iteration-count: infinite;
  }
  @keyframes titre {
    0%  {text-shadow: 5px 5px 5px #a6906b;}
    25% {text-shadow: 5px 5px 5px #c6b68f;}
    50% {text-shadow: 5px 5px 5px #354a5d;}
    75% {text-shadow: 5px 5px 5px #7e6a49;}
}