* {
    padding: 0px;
    margin: 0px;
}

header {
    background-color:  #341900;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15vh;
 
}
main{
	background-image: url("../images/barrel3.jpg");
}
h1 {
    font-family: 'Londrina Sketch', cursive;
    text-transform: uppercase;
    text-align: center;
    font-size: 60px;
    letter-spacing: 0.5vw;
    text-shadow: 5px 5px 5px #7e6a49;
  
    animation-name:titre;
    animation-duration: 5s;
    animation-iteration-count: infinite;
  }
	
	.form{
		position: relative;
		left:50%;
		width : 40%;
		height: 100vh;
		border-style: dotted;
		border-width: thick;
		border-radius: 10px;
		background-image: url("../images/Crate.png");
		background-size: cover;
		background-position: center;
		margin-top: 10px;
		margin-bottom: 10px;
		
	}
	
	.form_div {
    text-transform: uppercase;
    
}
.form_div > label {
    letter-spacing: 3px;
    font-size: 1rem;
    color: #232323;
}

.field_class {
    width: 100%;
    border-radius: 6px;
    border-style: solid;
    border-width: 1px;
    padding: 5px 0px;
    text-indent: 6px;
    margin-top: 10px;
    margin-bottom: 20px;

    font-size: 0.9rem;
    letter-spacing: 2px;
}
.field_class:hover {
    box-shadow: 2px 2px 5px #232323;
}

.bouton {
    border-style: none;
    border-radius: 5px;
    background-color: #FFE6D4;
    padding: 8px 20px;
    font-family: 'system-ui';
    text-transform: uppercase;
    letter-spacing: .8px;
    display: block;
    margin: auto;
    margin-top: 10px;
    box-shadow: 2px 2px 5px rgb(0,0,0,0.2);
    cursor: pointer;
    transition-duration: 0.4s;
}
.bouton:hover {    
    box-shadow: 5px 5px 5px #232323;
}
.settingh1{
	color:  #341900;
	}
	
	
hr{
	height: 3px; 
	background-color: black; 
	}