* {
    padding: 0px;
    margin: 0px;
}

header {
    background-color:  #341900;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15vh;
 
}
h1 {
    font-family: 'Londrina Sketch', cursive;
    text-transform: uppercase;
    text-align: center;
    font-size: 60px;
    letter-spacing: 0.5vw;
    text-shadow: 5px 5px 5px #7e6a49;
  
    animation-name:titre;
    animation-duration: 5s;
    animation-iteration-count: infinite;
  }
  @keyframes titre {
    0%  {text-shadow: 5px 5px 5px #a6906b;}
    25% {text-shadow: 5px 5px 5px #c6b68f;}
    50% {text-shadow: 5px 5px 5px #354a5d;}
    75% {text-shadow: 5px 5px 5px #7e6a49;}
  }
main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75vh;
	background-image: url("../Images/barrel3.jpg");
    padding-bottom:100px;

}
.form {
    margin-top:100px;
    width: 500px;
    padding: 40px;
    border-radius: 8px;
    background-color: white;
    font-family: 'Copperplate';
    box-shadow: 20px 20px #232323;
}
.form_div {
    text-transform: uppercase;
}
.form_div > label {
    letter-spacing: 2px;
    font-size: 1rem;
    color: #232323;
}
.newacc {
    text-align: center;
    margin-top: 20px;
}
.newacc {
    letter-spacing: 1px;
}
.field_class {
    width: 100%;
    border-radius: 6px;
    border-style: solid;
    border-width: 1px;
    padding: 5px 0px;
    text-indent: 6px;
    margin-top: 10px;
    margin-bottom: 20px;

    font-size: 0.9rem;
    letter-spacing: 2px;
}
.field_class:hover {
    box-shadow: 2px 2px 5px #232323;
}
.bouton {
    border-style: none;
    border-radius: 5px;
    background-color: #FFE6D4;
    padding: 8px 20px;
    font-family: 'system-ui';
    text-transform: uppercase;
    letter-spacing: .8px;
    display: block;
    margin: auto;
    margin-top: 10px;
    box-shadow: 2px 2px 5px rgb(0,0,0,0.2);
    cursor: pointer;
    transition-duration: 0.4s;
}
.bouton:hover {    
    box-shadow: 5px 5px 5px #232323;
}
label[for="male"], label[for="female"] {
    font-family: 'Times New Roman', Times, serif;
    text-transform: initial;
}
footer {
    margin-top: 5px;
}
